:root{
  --gradient-background:linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(84, 77, 152, 1) 57%,
    rgba(0, 212, 255, 1) 100%
  );
  --inside-button-color:aliceblue;
}
.dark-mode-toggle{
  width: 100px;
  position: absolute ;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

 }
.toggler-container {
  width: 80px;
  height: 50px;
  border-radius: 60px;
  background-color: #414141;
  padding: 5px;
  display: flex;
  align-items: center;
}

.toggler {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ababab;
  margin-left: 5px;
  transition: transform 0.5s, background-color 0.5s, box-shadow 0.5s;
}

#darkModeSwitch:checked + .toggler-container .toggler {
  transform: translateX(30px);
  background-color: white;
  box-shadow: 0 0 10px white, 0 0 20px white;
}

.mode {
  color: var(--inside-button-color);
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.new{
  background-color: #121212;
  color:#fafafa;
  h1,h2,h3{
    color:#fafafa !important;
  }
}
.new2{
  background-color: rgba(169, 169, 169, 0.138)
}

/*  */
.H1 {
  font-family: "Caveat", cursive;
  font-family: "Indie Flower", cursive;
  font-size: 60px ;
  padding-bottom: 70px;
  color: var(--inside-button-color)!important;
}
.container {
  padding-top: 200px !important ;
  height: 50vh;
}
.container2 {
  padding-top: 50px !important ;
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
.fr {
  background: var(--gradient-background)
}
h3 {
  font-family: "Caveat", cursive;
  font-family: "Indie Flower", cursive;
  font-size: 60px !important;
  margin-top: 60px !important;
}
.per-img {
  border-radius: 50%;
  width: 150px !important;
  height: 200px;
}

.parag {
  font-size: 20px;
  padding: 0px 600px;
}
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
  background: var(--gradient-background) !important;
}
.btn {
  background: var(--gradient-background) !important;
  color: var(--inside-button-color);
  border: none;
  transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}
button:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 100%,
    rgba(84, 77, 152, 1) 57%,
    rgba(2, 0, 36, 1) 20%
  ) !important;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: transform 0.4s ease;
}
.cont5 {
  padding-top: 40px !important;
  height: 15em;
}
.mb-override{
   margin-bottom: 5rem !important;
}
.footer {
  background: var(--gradient-background) !important;
}
.pend {
  color: var(--inside-button-color)!important;
}
.desc {
  font-size: small;
  font-weight: 400;
}
.nav-item {
  margin: 10px;
  color: var(--inside-button-color)!important;
}
a {
  color: var(--inside-button-color)!important;
  text-decoration: none;
}
#visit,
a {
  font-weight: 400;
  font-size: 22px;
}
.beforeLow{
  margin-bottom: 10rem;
  margin-top: 5rem;
}
#progress{
  font-weight: 200;
  font-size: 0.5em;
}

@media (max-width: 1200px) {
  .container {
    padding-top: 100px !important;
  }
  .container2 {
    padding-top: 100px !important;
    margin-top: 100px !important;
    margin-bottom: 50px !important;
     ;
  }

  .H1 {
    padding-bottom: 40px;
  }

  .parag {
    padding: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1650px) {
  .container {
    padding-top: 150px !important;
  }
  .container2 {
    padding-top: 150px !important;
    margin-bottom: 200px !important;
  }

  .H1 {
    padding-bottom: 50px;
  }

  .parag {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .mid {
    height: 1050px !important;
  }
  .container2 {
    margin-bottom: 300px ;
    width:auto;
  }
}
@media (max-width: 770px) {
  .mid {
    height: 1150px !important;
  }
  .container2 {
    margin-top: 200px !important;
    margin-bottom: 650px !important;
  }
  .cont22 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .cont5{
    height:20em;
  }
}
@media (max-width: 497px) {
  .mid {
    height: 1250px !important;
  }
  html,
  body {
    width: 100% !important;
  }
  .low{
    margin-top: 100em!important;
  }
}
@media (max-width: 417px) {
  .mid {
    height: 1350px ;
  }
  #projects{
    max-height: 1300px;
  }
}
@media (max-width: 355px) {
  .mid {
    height: 1650px !important;
  }
  .H1{
    font-size: 40px;
  }
  .low{
    margin-top: 20em;
  }
}

@media (min-width: 1500px) {
  #mainParagraph {
    padding: 0 400px !important;
  }
}
